
EXAMPLE
	movies-(movies.html)-4-resize-images.html


	NOTE
		OPTIONAL: Resize the images
		If you want all of the cards and images to display at the same height add the following style attributes to the image element:

		<img src="{{ m.movie_poster.url }}" class="card-img-top" alt="{{ m.movie_title}}" style="width: auto; height: 350px; object-fit: contain;">


		Mainly

			style="width: auto; height: 350px; object-fit: contain;"


			These attributes work together to specify the image height while scaling down the image to fit with its parent elemen

